#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input{
  border-radius: 8px;
  color: black;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: white;
  cursor: pointer;
  transition: border-color 0.25s;
  border: 1px solid #969696;

}

ul{
  list-style-type: none;  
  
}
li{ 
  font-family: inherit;
  margin-left: -38px;
  height: 42px;
  width: 330px;
  border-radius: 8px;
  border: 1px solid #969696;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 15px;
  margin-top: 5px;
  
}
.IconsProperty{
  display: flex;
  margin-right: 10px;
  gap: 15px;
  
}
.check{
  border-radius: 180px;
  background: green;
}
.delete{
  border-radius: 180px;
  background: red;

}
